@keyframes slide-tr {
  0% {
    -webkit-transform: translateY(50) translateX(0);
    transform: translateY(50) translateX(0);
    background-image: url("../img/kisspng-logo-coreldraw-cdr-clip-art-letter-b-5afd8076374476.3266053715265629342264@2x.png"); }
  2% {
    -webkit-transform: translateY(50) translateX(0);
    transform: translateY(50) translateX(0);
    opacity: 0; }
  40% {
    -webkit-transform: translateY(50) translateX(0);
    transform: translateY(50) translateX(0);
    opacity: 0; }
  55% {
    -webkit-transform: translateY(50) translateX(0);
    transform: translateY(50) translateX(0);
    opacity: 5; }
  60% {
    -webkit-transform: translateY(50) translateX(0);
    transform: translateY(50) translateX(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(-64%) translateX(143%);
    transform: translateY(-64%) translateX(143%);
    background-image: url("../img/kisspng-logo-coreldraw-cdr-clip-art-letter-b-1.png"); } }

@keyframes visible {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes moveInbottom {
  0% {
    transform: translateY(-90%); }
  to {
    transform: translate(0); } }

@keyframes movebottom {
  from {
    display: none;
    opacity: 0;
    transform: translateY(-100%); }
  to {
    opacity: 1;
    transform: translate(0); } }

/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-grey-dark-0:rgb(248, 248, 248);
  --color-grey-dark-1: #999999cc;
  --color-grey-dark-2: #a1a1a180;
  --color-grey-dark-3: #777;
  --color-grey-dark-4: #333;
  --color-grey-dark-5: #191919;
  --color-cyan-1:#0abde3;
  --color-cyan-2:#0597b8;
  --color-cyan-3:#017f9b; }

@font-face {
  font-family: 'Ykan';
  src: url(../Yekan/Yekan/Yekan.eot);
  src: url(../Yekan/Yekan/Yekan.ttf);
  src: url(../Yekan/Yekan/Yekan.woff); }

* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Ykan';
  font-size: 2rem;
  font-weight: 300;
  direction: rtl;
  background-color: #f5f5f5; }

a {
  text-decoration: none;
  color: currentColor; }

li {
  list-style: none; }

.btn {
  font-family: 'Ykan';
  font-size: 2rem;
  font-weight: 200;
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer; }

.blue-btn {
  height: 5rem;
  width: 15rem;
  border-radius: 8px;
  outline: none;
  border: none; }
  .blue-btn:hover {
    background-color: var(--color-cyan-1); }

.blue-btn-one {
  height: 4rem;
  width: 16rem;
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: var(--color-cyan-2);
  position: absolute;
  right: 42rem; }
  .blue-btn-one:hover {
    background-color: var(--color-cyan-3); }

.blue-btn-submit {
  border-radius: 8px;
  outline: none;
  border: none;
  background-color: var(--color-cyan-2);
  width: 25rem;
  color: white;
  text-align: center;
  margin: 0 35%; }
  .blue-btn-submit:hover {
    background-color: var(--color-cyan-3); }

.nav {
  animation: movebottom 1s 1.5s ease-out both; }
  .nav__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    text-decoration: none; }
  .nav__item {
    list-style: none;
    font-family: inherit;
    text-align: center;
    vertical-align: center;
    padding: .5rem; }
  .nav__logo {
    display: flex;
    text-align: end;
    text-decoration: none;
    margin: 0rem 5rem;
    position: relative;
    margin-right: 15rem; }
    .nav__logo-text {
      color: var(--color-cyan-1);
      font-weight: 600;
      font-size: 3.5rem;
      align-self: flex-end; }
  .nav__profile {
    display: flex;
    align-content: flex-end;
    padding-top: 1rem;
    margin: 0 5rem;
    cursor: pointer; }
    .nav__profile-img {
      display: block;
      margin-left: 1rem;
      height: 3rem; }
    .nav__profile-text {
      text-align: end; }

.landing .landing__img {
  height: 100vh;
  background-image: url(../img/asset-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.landing__img-logo {
  height: 50rem;
  width: 50rem;
  margin-right: 4.5rem;
  right: 35%;
  cursor: pointer;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: slide-tr 2s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-tr 2s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

.landing__table {
  position: relative;
  height: 45rem;
  width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 2rem 2rem;
  animation: visible .8s 1.8s ease-in both; }
  .landing__table__up {
    height: 40rem;
    width: 80rem;
    position: absolute;
    top: 5rem;
    border-top: 5rem solid var(--color-cyan-1) !important;
    background-color: rgba(218, 218, 218, 0.9);
    animation: visible 1s 1s ease-in both;
    border-collapse: collapse;
    table-layout: fixed; }
    .landing__table__up tr:not(:last-child) {
      border-bottom: 3px solid var(--color-cyan-1); }
    .landing__table__up td:not(:last-child) {
      border-left: 3px solid var(--color-cyan-1); }
    .landing__table__up__data {
      font-size: 1.7rem;
      font-weight: 200;
      vertical-align: text-top;
      text-align: center;
      color: var(--color-cyan-2);
      padding: 1.5rem; }
      .landing__table__up__data:hover {
        background-color: #eeeeee; }
      .landing__table__up__data:focus {
        transform: scale(1.1); }
      .landing__table__up__data__link:hover {
        display: block;
        transform: scale(1.1); }
      .landing__table__up__data span {
        display: block;
        animation: moveInbottom 1.5s .8s ease-out; }

.landing__two-circles {
  animation: visible 1s 1s ease-out both;
  z-index: 5; }
  .landing__two-circles .circle_right {
    width: 13rem;
    height: 13rem;
    top: 48rem;
    right: 10rem;
    position: fixed;
    border-radius: 50%;
    border: 0.5rem dashed var(--color-cyan-1);
    background-color: whitesmoke; }
  .landing__two-circles .circle1 {
    top: 50rem;
    right: 13rem;
    position: fixed; }
    .landing__two-circles .circle1-text {
      top: 53.5rem;
      right: 10rem;
      position: fixed;
      padding: 1rem;
      margin: 2rem;
      font-size: 1.5rem;
      color: var(--color-cyan-1);
      text-align: center; }
  .landing__two-circles .circle_left {
    width: 13rem;
    height: 13rem;
    top: 48rem;
    left: 10rem;
    position: fixed;
    border-radius: 50%;
    border: 0.5rem dashed var(--color-cyan-1);
    background-color: whitesmoke; }
  .landing__two-circles .circle2 {
    top: 50rem;
    left: 13rem;
    position: fixed; }
    .landing__two-circles .circle2-text {
      top: 53.5rem;
      left: 11.5rem;
      position: fixed;
      padding: 1rem;
      margin: 2rem;
      font-size: 1.5rem;
      color: var(--color-cyan-1);
      text-align: center; }

.main__panel__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--color-cyan-2); }
  .main__panel__title h1 {
    font-weight: 600;
    font-size: 3.5rem; }
  .main__panel__title-gray {
    color: var(--color-grey-dark-3);
    text-align: center; }

.main__panel__logo {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto; }
  .main__panel__logo a:hover {
    transform: scale(1.1); }
  .main__panel__logo_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .main__panel__logo_block span {
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center; }

.main__panel_center {
  width: 80%;
  height: 23%;
  background-color: #f7f7f7;
  border-radius: 5rem;
  margin: 3rem auto; }

.main__panel_table {
  height: 30rem;
  width: 60rem;
  margin: 0 auto; }
  .main__panel_table td {
    padding: .5rem; }
  .main__panel_table label {
    font-size: 1.8rem;
    font-weight: 700;
    padding-right: 2rem;
    color: var(--color-cyan-2); }
  .main__panel_table input {
    outline: none;
    height: 4rem;
    width: 20rem;
    border: 0.1rem solid var(--color-cyan-2);
    border-radius: .8rem;
    padding: 1rem;
    box-shadow: 0px 3px 11px -4px #000000; }

.main__panel svg {
  height: 80rem;
  width: 75rem;
  perspective: 500rem;
  position: relative; }
  .main__panel svg ellipse {
    fill: white;
    stroke: var(--color-cyan-3);
    stroke-width: 2; }

.scrollMidsection {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  bottom: 150px;
  transform: translate(50%, 50%);
  z-index: 1000;
  cursor: pointer; }
  .scrollMidsection img {
    position: fixed;
    right: 1.1rem;
    top: 1rem; }

#scrolltop {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  right: 47%;
  transform: translate(0, -120px);
  cursor: pointer; }
  #scrolltop img {
    position: fixed;
    right: 1.1rem;
    top: 1rem; }

.slider {
  height: 85vh; }
  .slider .hi-slide {
    height: 30rem;
    width: 90rem;
    position: relative;
    margin: 0 auto;
    margin-top: 5rem;
    border-radius: 50%;
    border: 0.5rem solid var(--color-cyan-3); }
    .slider .hi-slide .hi-next {
      width: 3rem;
      height: 3rem;
      background-color: gray;
      border-radius: 50%;
      position: absolute;
      padding: 1rem;
      right: 48rem;
      top: 22.5rem;
      transform: translate(-170%, 150%);
      cursor: pointer; }
      .slider .hi-slide .hi-next::before {
        content: '';
        position: absolute;
        top: 3px; }
      .slider .hi-slide .hi-next:hover, .slider .hi-slide .hi-next:focus {
        background-color: #ff7606; }
      .slider .hi-slide .hi-next img {
        position: absolute;
        top: 5px; }
    .slider .hi-slide .hi-prev {
      width: 3rem;
      height: 3rem;
      background-color: gray;
      border-radius: 50%;
      position: absolute;
      padding: 1rem;
      right: 24rem;
      top: 22.5rem;
      transform: translate(-170%, 150%);
      cursor: pointer; }
      .slider .hi-slide .hi-prev::before {
        content: '';
        position: absolute;
        top: 1.5px; }
      .slider .hi-slide .hi-prev:hover, .slider .hi-slide .hi-prev:focus {
        background-color: #ff7606; }
      .slider .hi-slide .hi-prev img {
        position: absolute;
        top: 5px; }
  .slider .caption {
    margin: 10rem auto;
    padding: 2rem;
    width: 60vw;
    height: 20vh;
    background-color: #f7f7f7;
    border-radius: 20px;
    align-content: center; }
    .slider .caption p {
      font-size: 1.8rem;
      font-weight: 200;
      text-align: center;
      margin-bottom: 2rem; }

footer {
  width: 100%;
  height: 100%;
  background-color: whitesmoke; }
  footer .bimsa-footer {
    display: block;
    position: absolute;
    right: 720px; }
  footer .my-svg {
    display: block;
    position: relative; }
  footer .main__footer {
    height: 40rem;
    background-color: #0099ff;
    position: relative; }
    footer .main__footer-panels {
      text-align: center;
      display: flex;
      justify-content: space-between; }
      footer .main__footer-panels span {
        font-size: 1.8rem;
        line-height: 1.8;
        color: white;
        margin: 0 20rem;
        flex: auto; }
        footer .main__footer-panels span:hover {
          transform: scale(1.1); }
      footer .main__footer-panels temp-logos {
        background-color: blue; }
      footer .main__footer-panels img temp-logo {
        width: 12rem;
        height: 12rem;
        margin-top: 5rem; }
    footer .main__footer__temp-logos {
      margin-top: 5rem; }
      footer .main__footer__temp-logos-logo {
        width: 13rem;
        height: 13rem; }
      footer .main__footer__temp-logos-social {
        width: 5rem;
        height: 5rem;
        color: transparent;
        margin: 2rem .5rem; }
    footer .main__footer p {
      color: white;
      font-size: 1.5rem;
      border-radius: 50px 50px 0 0;
      background-color: #fdd10c;
      padding: 1rem 15rem;
      width: 100%;
      position: absolute;
      bottom: 0; }

.nav {
  background-color: white;
  position: relative; }

.main__panel {
  height: 200vh;
  width: 65vw;
  margin: 0 auto;
  background-color: white;
  position: relative;
  bottom: 10rem;
  border-radius: 5rem;
  box-shadow: 1px 1px 30px -5px #8a8a8a82; }
