.nav{
    animation: movebottom 1s 1.5s ease-out both ;

    &__items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        text-decoration: none;
    }
    &__item{
        list-style: none;
        font-family: inherit;
        text-align: center;
        vertical-align: center;
        padding: .5rem;
    }

    &__logo{
        display: flex;
        text-align: end;
        text-decoration: none;
        margin: 0rem 5rem;
        position: relative;
        margin-right: 15rem;
        &-text{
            color:var(--color-cyan-1);
            font-weight: 600;
            font-size: 3.5rem;
            align-self: flex-end;
        }
    }

    &__profile{
        display: flex;
        align-content: flex-end;
        padding-top: 1rem;
        margin: 0 5rem;
        cursor: pointer;

        &-img{
            display: block;
            margin-left: 1rem;
            height: 3rem;
        }

        &-text{
            text-align: end;

        }
    }

}
.landing{
    .landing__img{
        height: 100vh;
        background-image: url(../img/asset-1.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
    }

    &__img-logo{
        height: 50rem;
        width: 50rem;
        margin-right: 4.5rem;
        right: 35%;
        cursor: pointer;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-animation: slide-tr 2s  1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-tr 2s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &__table{
        position: relative;
        height: 45rem;
        width: 80rem;
        margin:0 auto;
        overflow: hidden;
        border-radius: 1.5rem 1.5rem 2rem 2rem;
        animation: visible .8s 1.8s ease-in both;

        &__up{
            height: 40rem;
            width: 80rem;
            position: absolute;
            top: 5rem;
            border-top: 5rem solid var(--color-cyan-1) !important;
            background-color: rgba(218, 218, 218, .9);
            animation: visible 1s 1s ease-in both;
            border-collapse: collapse;
            table-layout: fixed;
            tr:not(:last-child){
                border-bottom: 3px solid var(--color-cyan-1);
            }
            td:not(:last-child){
                border-left: 3px solid var(--color-cyan-1);
            }
            &__data{
                font-size: 1.7rem;
                font-weight: 200;
                vertical-align: text-top;
                text-align: center;
                color: var(--color-cyan-2);
                padding: 1.5rem;


            &:hover{
                background-color: rgb(238, 238, 238);
            }
            &:focus{
                transform: scale(1.1);
            }
            &__link{
                &:hover{
                    display: block;
                    transform: scale(1.1);
                }
            }
            span{
                display: block;
                animation:moveInbottom 1.5s .8s ease-out;
            }
        }
    }
}
    &__two-circles{
        animation:visible 1s 1s ease-out both;
        z-index: 5;
        .circle_right{
            width: 13rem;
            height: 13rem;
            top: 48rem;
            right: 10rem;
            position: fixed;
            border-radius: 50%;
            border:.5rem dashed var(--color-cyan-1);
            background-color: whitesmoke;
        }
        .circle1{
            top: 50rem;
            right: 13rem;
            position: fixed;
            &-text{
                top: 53.5rem;
                right: 10rem;
                position: fixed;
                padding: 1rem;
                margin: 2rem;
                font-size: 1.5rem;
                color: var(--color-cyan-1);
                text-align: center;
            }
        }
        .circle_left{
            width: 13rem;
            height: 13rem;
            top: 48rem;
            left: 10rem;
            position: fixed;
            border-radius: 50%;
            border:.5rem dashed var(--color-cyan-1);
            background-color: whitesmoke;
        }
        .circle2{
            top: 50rem;
            left: 13rem;
            position: fixed;
            &-text{
                top: 53.5rem;
                left: 11.5rem;
                position: fixed;
                padding: 1rem;
                margin: 2rem;
                font-size: 1.5rem;
                color: var(--color-cyan-1);
                text-align: center;
            }
        }
    }
}

.main__panel{
    &__title{
        text-align: center;
        display: flex;
        flex-direction: column;
        color: var(--color-cyan-2);
        h1{
            font-weight: 600;
            font-size: 3.5rem;
        }
        &-gray{
            color: var(--color-grey-dark-3);
            text-align: center;
        }
    }
    &__logo{
            display: flex;
            justify-content: space-evenly;
            margin: 5rem auto;
        a:hover{
            transform: scale(1.1);
        }
        &_block{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            span{
                font-size: 1.5rem;
                font-weight: 700;
                text-align: center;
            }
        }
    }
    &_center{
        width: 80%;
        height: 23%;
        background-color: rgb(247, 247, 247);
        border-radius: 5rem;
        margin: 3rem auto;
    }
    // &blue_circle{
    //     position: absolute;
    //     top: 5rem;
    // }


    &_table{
        height: 30rem;
        width: 60rem;
        position: absolute;
        top: 55rem;
        right: 20rem;
        td{
            padding: .5rem;
        }
        label{
            font-size: 1.8rem;
            font-weight: 700;
            padding-right: 2rem;
            color: var(--color-cyan-2);
        }
        input{
            outline: none;
            height: 4rem;
            width: 20rem;
            border:.1rem solid var(--color-cyan-2);
            border-radius: .8rem;
            padding:1rem ;
            box-shadow: 0px 3px 11px -4px #000000;
        }
    }
    svg{
        height:80rem; 
        width:75rem;
        perspective: 500rem;
        position: relative;
        ellipse{
            fill:white;
            stroke:var(--color-cyan-3);
            stroke-width:2;
        }
        // &:hover{
        //     animation:spin 5s ease-in 3s infinite both;
        // }
    }
}
.slider{
    height: 85vh;

    .hi-slide{
        height: 30rem;
        width: 90rem;
        position: relative;
        margin: 0 auto;
        margin-top: 5rem;
        border-radius:50%;
        border:.5rem solid var(--color-cyan-3);
        .hi-next{
            width: 3rem;
            height: 3rem;
            background-color: gray;
            border-radius: 50%;
            position: absolute;
            padding:1rem ;
            right:48rem;
            top: 22.5rem;
            transform: translate(-170%, 150%);
            &::before { 
                content: ''; 
                position: absolute;
                top:3px;
            }
            &:hover,
            &:focus{
                background-color: rgb(255, 118, 6);
            }
            img{
                position: absolute;
                top: 5px;
            }
        }
    
        .hi-prev{
            width: 3rem;
            height: 3rem;
            background-color: gray;
            border-radius: 50%;
            position: absolute;
            padding:1rem ;
            right:24rem;
            top: 22.5rem;
            transform: translate(-170%, 150%);
            &::before { 
                content: ''; 
                position: absolute;
                top:1.5px;
            }
            &:hover,
            &:focus{
                background-color: rgb(255, 118, 6);
            }
            img{
                position: absolute;
                top: 5px;
            }
        }
    
    }
    .caption{
        margin: 10rem auto;
        padding: 2rem;
        width: 60vw;
        height: 20vh;
        background-color: #f7f7f7;
        border-radius: 20px;
        align-content: center;
        p{
            font-size: 1.8rem;
            font-weight: 200;
            text-align: center;
            margin-bottom: 2rem;
            
        }
    }
}


footer{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    .bimsa-footer{
        display: block;
        // margin: auto;
        // margin-bottom: -150px;
        position: absolute;
        right: 700px;
    }
    .my-svg{
        display: block;
        position: relative;
    }
    .main__footer{
        height: 40rem;
        background-color: #0099ff;
        position: relative;
        &-panels{
            text-align: center;
            display: flex;
            justify-content: space-between;
            span{
                font-size: 1.8rem;
                line-height: 1.8;
                color: white;
                margin: 0 20rem;
            }
            temp-logos{
                background-color: blue;
            }
            img{
                temp-logo{
                    width: 12rem;
                    height: 12rem;
                    margin-top: 5rem;
                }
            }
        }

        &__temp-logos{
            margin-top: 5rem;
            &-logo{
                width: 13rem;
                height:13rem;
            }
            &-social{
                width: 5rem;
                height: 5rem;
                color: transparent;
                margin:2rem .5rem; 

            }
        }
        p{
            color: white;
            font-size: 1.5rem;
            border-radius: 50px 50px 0 0;
            background-color: rgb(253, 209, 12);
            padding: 1rem 15rem;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    } 
}








  
