.nav{
    background-color: rgb(255, 255, 255);
    position: relative;
}

.main__panel{
    height: 200vh;
    width: 65vw;
    margin:0 auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 10rem;
    border-radius: 5rem;
    box-shadow: 1px 1px 30px -5px #8a8a8a82;
}
#cut-off-bottom{
}